<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: auto;">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" style="color: lightseagreen; font-size: 20px" ><strong>Article Management</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/create-article" style="margin-top: 5px">Create Article</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/listing-article" style="margin-top: 5px">View Article</a>
    </li>
  </ul>
</nav>
<br>

