<!--Home Screen-->
<!--Providing options of View and Create Articles controlled by (click)-->
<!--Routes the page to create-article.component or listing-article.component in home.component.ts-->

<div class = "flex-container">
  <div class = "cover">
    <div class = "layer">
      <h1>ARTICLE MANAGEMENT</h1>
      <h3>Create. View. Update.</h3>
      <div class = "btn-container">
      <button type = "button" class = "btn btn-outline-info" (click)="createArticle()">Create Article</button>
      <button type = "button" class = "btn btn-info" (click)="viewArticle()">View Articles</button>
    </div>
    </div>
  </div>
</div>



